# Introduction to Python Workshop

In [1]:
# Declaring string variables
myName = "Brad"
conference = 'GIS ValTech 2024'
print(myName)
print(myName)
conference

Brad
Brad

'GIS ValTech 2024'

In [4]:
# Declaring numeric variables
i = 10
print("i * 10 = {0}".format(i * 10))
print("i * 10 = " + str(i * 10))
#print("i * 10 = " + (i * 10)) # Invalid missing cast
print("i * 10 =", i * 10)

i * 10 = 100
i * 10 = 100
i * 10 = 100

## Storing collections of data (4 standard options)

In [6]:
#Lists are used to store multiple items in a single variable.
#List items are ordered, changeable, indexed, and allow duplicate values.

my_list = [1, 2, 3]
print(my_list)
print(my_list[0])

[1, 2, 3]
1

In [7]:
#We can loop over the contents of a list
for x in my_list:
    print(x)

1
2
3

In [8]:
#we can add to a list with append
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [11]:
my_list[1] = 4
print(my_list)

[4, 4, 3, 4]

In [12]:
#List comprehension offers a shorter syntax when you want to create a new list 
#based on the values of an existing list.
y = [x * 100 for x in my_list]
print(y)

[400, 400, 300, 400]

In [13]:
#Tuple items are ordered, unchangeable, indexed, and allow duplicate values.
my_tuple = ('a', 'b', 'a')
print(my_tuple)

('a', 'b', 'a')

In [ ]:
my_tuple.append('c')

In [14]:
print(my_tuple[1])

b

In [15]:
my_tuple[1] = 'G'

TypeError: 'tuple' object does not support item assignment

In [16]:
#Set items are unordered, unchangeable, non indexed, and do not allow duplicate values.
#Note: Set items are unchangeable, but you can remove items and add new items.
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [17]:
for f in thisset:
    print(f)

apple
banana
cherry

In [18]:
print(thisset[1])

TypeError: 'set' object is not subscriptable

In [19]:
thisset.add("grape")
print(thisset)

{'grape', 'apple', 'banana', 'cherry'}

In [20]:
thisset.add("apple")
print(thisset)

{'grape', 'apple', 'banana', 'cherry'}

In [21]:
thisset.remove("banana")
print(thisset)

{'grape', 'apple', 'cherry'}

In [22]:
#Dictionaries are used to store data values in key:value pairs.
#A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [23]:
print(car['model'])

Mustang

In [24]:
for key, value in car.items():
...     print(key, "->", value)

brand -> Ford
model -> Mustang
year -> 1964

In [25]:
#Functions allow us to reuse code without having to rewrite it
def Add100(val):
    return val + 100

print(Add100(0))
print(Add100(500))
print(Add100(900))

100
600
1000

In [26]:
#we can also us a function within list comprehension
print(my_list)
newList = [Add100(x) for x in my_list]
print(newList)

[4, 4, 3, 4]
[104, 104, 103, 104]

In [27]:
#lambda is a keyword in Python for defining the anonymous function.
anotherList = [(lambda x: x + 100)(x) for x in my_list]
print(anotherList)

[104, 104, 103, 104]

In [28]:
# Range can be used to generate a list
for i in range(1, 20):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

## Python Packages

In [30]:
import random as rnd
print(rnd.randint(1, 100))

69

In [32]:
#range 0.0 <= X < 1.0
print(rnd.random())

0.26177079939450876

In [33]:
from datetime import date, timedelta
d = date.today()
'{:%Y-%m-%d %H:%M:%S}'.format(d)

'2024-04-11 00:00:00'

In [34]:
print(d + timedelta(days=30))

2024-05-11